{% extends 'base.html' %}

{% block title %} Исследование вайбов {% endblock %}

{% block content %}
  <main class="background-index" style="width: 100vw; flex-grow: 1;">
    <!-- внизу div style задает только отступы, поэтому лучше поменять style на class из бутстрапа типа container или другой с отступами -->
  <div style="width: 1200px; padding: 50px; margin: 0 auto;">
    <h1> Это исследование посвящено такому явлению как вайбы.ъъъъъъъъъ</h1>
    <p>Итак какой у меня вайб???? только честно</p>
  </div>
  </main>
{% endblock %}
